@import "bootstrap/dist/css/bootstrap.min.css";

html,
body,
#app {
  min-height: 100vh;
  display: grid;
}

body {
  margin: 0;
}

main {
  display: grid;
  grid-template-rows: 70px 1fr;
}

main > header {
  display: grid;
}
